{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        com.datomic/local {:mvn/version "1.0.291"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.1093"}
        org.postgresql/postgresql {:mvn/version "42.7.11"}
        com.taoensso/carmine {:mvn/version "3.5.0"}}

 :aliases
 {:dev {:extra-paths ["dev" "test"]}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}}
         :main-opts ["-m" "kaocha.runner"]}

  :test:e2e {:extra-paths ["test"]
             :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                          clj-chrome-devtools/clj-chrome-devtools {:mvn/version "20220405"}}
             :main-opts ["-m" "kaocha.runner" "--focus" "e2e"]}

  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.04.15"}}
              :main-opts ["-m" "clj-kondo.main"]}

  :cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.16.4"}}
           :main-opts ["-m" "cljfmt.main"]}

  :setup {:main-opts ["-m" "drw.setup"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :ns-default build}}}
